<link rel="stylesheet" href="../layout/global.css">
<footer>
    <div class="container">
        <div class="footer-grid">
            <div>
                <h3>BaliTravel</h3>
                <p>Your trusted partner for exploring Bali's beauty.</p>
            </div>
            <div>
                <h4>Quick Links</h4>
                <ul class="footer-links">
                    <li><a href="#beranda">Beranda</a></li>
                    <li><a href="#destinasi">Destinasi</a></li>
                    <li><a href="#tour">Tour</a></li>
                    <li><a href="#rental">Rental</a></li>
                </ul>
            </div>
            <div>
                <h4>Contact Info</h4>
                <ul class="footer-links">
                    <li><i class="fas fa-map-marker-alt"></i> Jl. Sunset Road, Kuta, Bali</li>
                    <li><i class="fas fa-phone"></i> +62 812 3456 7890</li>
                    <li><i class="fas fa-envelope"></i> info@balitravel.com</li>
                </ul>
            </div>
            <div>
                <h4>Social Media</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2024 BaliTravel. All rights reserved.</p>
        </div>
    </div>
</footer>