<link rel="stylesheet" href="../layout/global.css">
<header>
    <nav>
        <a href="#" class="logo">ANCESTRAVEL</a>
        <ul class="nav-links">
            <li><a href="../public/index.php" target="_self">Home</a></li>
            <li><a href="../public/destination.php" target="_self">Destination</a></li>
            <li><a href="../public/rental.php" target="_self">Rental</a></li>
            <li><a href="../booking/booking.php" target="_self">Booking Now</a></li>
        </ul>
    </nav>
</header>